<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
</head>

<body>
	 <div class="container">
	 	 <h1>Books</h1>

		 Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
		 
		 <div style="padding:20px 0">
			 <form th:action="@{/logout}" method="post">
				<input type="submit" value="Log Out" class="btn btn-sm btn-danger"/>
			 </form>
		 </div>
	
		 <table class="table table-striped table-sm table-bordered text-center w-auto">
		 	<tr>
		 		<th>Author</th>
		 		<th>Title</th>
		 		<th>ISBN</th>
		 		<th>Year</th>
		 		<th>Category</th>
		 	</tr>
		 	<tr th:each = "book : ${books}">
		 		<td th:text = "${book.author}"/>
		 		<td th:text = "${book.title}"/>
		 		<td th:text = "${book.isbn}"/>
		 		<td th:text = "${book.year}"/>
		 		<td th:text = "${book.category}"/>		 		
		 		<td sec:authorize="hasRole('ADMIN')"><a th:href = "@{/delete/{id}(id = ${book.id})}" class="btn btn-danger btn-sm">Delete</a></td>
		 		<td><a th:href = "@{/edit/{id}(id = ${book.id})}" class="btn btn-primary btn-sm">Edit</a></td>
		 	</tr>
		 </table>
		 
		 <a href="/addbook" class="btn btn-success">Add Book</a>
	 </div>
</body>

</html>